# Auth0 Configuration
AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://your-tenant.region.auth0.com'
AUTH0_CLIENT_ID='your-client-id'
AUTH0_CLIENT_SECRET='your-client-secret'

# Database Configuration
DB_HOST='localhost'
DB_PORT='5432'
DB_NAME='your-db-name'
DB_USER='your-db-user'
DB_PASSWORD='your-db-password' 